/*

DART 450, Winter 2018
Final Project
Emma Spellacy


*/
body{
  margin: 0;
}
html{
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/

}
section {
  width: 100vw;
  height: 100vh;

}

.horizontal_scroll {
  display: inline-flex;

}
/*.vertical_scroll{
  display: block;
}*/

.text_intro{
  display: none;
  text-align: center;
  font-size: 3em;
  color: white;
  font-family: 'Josefin Sans';
  position: relative;
  margin-top: 10%;
}
.text{
  font-size: 3em;
  color: white;
  font-family: "Avenir";
  padding: 120px;
  margin: 0;


}
.answer_container{
  display: flex;
  position: relative;
  margin-bottom: 10px;
  color: white;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  left: 31%;
  top: 20%;
  overflow: hidden;
}
.answer{
  padding-right: 200px;
  display: none;
}

#home{
  background: linear-gradient(#A3BCF9, #4286f4)

}
.v1{
  background: linear-gradient(#c6a0f7, #4286f4);
  width: 100vw;
  height: 100vh;

}

#v2{
background: linear-gradient(#c6a0f7, #4286f4);

}
#v3{
background: linear-gradient(#c6a0f7, #4286f4);

}



.option{
  z-index: 1;
  font-size: 3em;
  max-width: 600px;
  max-height: 200px;
  text-align: center;
  margin-top: 20%;
  color: white;
  font-family: 'Josefin Sans';
  vertical-align: middle;


}
.option_answer_yes{
  z-index: 2;
  font-size: 2em;
  color: white;
  font-family: 'Josefin Sans';
  left: 49%;
  top: 185%;
  display: flex;
  position: absolute;
}
.option_answer_no{
  z-index: 2;
  font-size: 2em;
  color: white;
  font-family: 'Josefin Sans';
  position: absolute;
  left: 90%;
  top:150%;
}
.v1_container{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vw;
}
#breakup{
  position: relative;
  width: 100%;
  height: 100%;
}
.next{
  visibility: hidden;
}
.circle{
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
  border: 15px solid white;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  margin: 0;
  display: flex;
  position: absolute;
  top:50%;
  left: 50%;
  justify-content: center;
  transform: translate(-165px, -165px);
 }

@-webkit-keyframes pulsate {
    0% {opacity: 0.1;}
    50% {opacity: 1.0;}
    100% {opacity: 0.1;}
}

.material-icons {
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
  color: white;
  padding-top: 25%;
  font-size: 150px !important;



}
