/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {

}
.message{
  font-size: 150px;
  font-family: 'avenir', sans-serif;
  color: white;
  font-weight: 600;
  align-self: center;
}
