/*

DART 450, Winter 2018
EXERCISE 05
EMMA SPLLACY


*/
@font-face {
  font-family: 'Archivo Black', sans-serif;
}

body {
font-family: "Archivo Black",sans-serif;
font-size: 10em;
margin-top: 15%;
text-align: center;
color: white;
}
.message{
  font-size: 150px;
  font-family: 'avenir', sans-serif;
  color: white;
  font-weight: 600;
  align-self: center;
}
