h1{
  font-family: arial;
  font-size: 75px;
  color: #6699ff;
  margin-top: 20%;
  text-align: center;
  transition-duration: 1.5s;

}
.container{
  display: flex;
  justify-content: center;
}
h1:hover{
  font-size: 175px;
  color: magenta;
  
}
