/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/
body{
  margin: 0;
}
html{
  height: 100%;
  width: 100%;
  overflow: hidden;

}
section {
  width: 100vw;
  height: 100vh;

}

.horizontal_scroll {
  display: inline-flex;

}
.vertical_scroll{
  display: block;
}

.text_intro{
  display: none;
  text-align: center;
  font-size: 6em;
  color: white;
  font-family: serif;
  width: 800px;
  margin-left: 17%;
  margin-top: 10%;

}
.text{
  font-size: 150px;
  color: white;
  font-family: "Avenir";
  padding: 120px;
  margin: 0;
}
#orange{
  background-color: orange;
}
#yellow{
  background-color: yellow;
}
#blue{
  background-color: blue;
}
#pink{
  background-color: pink;
}
#green{
  background-color: green;
}
