/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/
@font-face {
  font-family: 'Indie Flower', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Amatic SC', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Sacramento', cursive;
  font-family: 'Rock Salt', cursive;
  font-family: 'Freckle Face', cursive;
}
body {
display: flex;
}
#sentenceBox{
  width: 400px;
  height: 50px;;
  margin-top: 20%;
  margin-left: 10%;
  align-items: center;
  font-family: "Freckle Face";
  font-size: 40px;

}
.wordContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 45%;
  margin-top: 5%;
  margin-left: 5%;

}
.person{
  font-family: "permanent marker";
}
.person:hover{
  color: violet;
}
.bad{
  font-family: "amatic SC", sans-serif;
}
.bad:hover{
  color: red;
}
.food{
  font-family: "permanent marker", cursive;
}
.food:hover{
  color: yellow;
}
.greet{
  font-family: "indie flower", cursive;
}
.greet:hover{
  color: green;
}
.other{
  font-family: "scramento",cursive;
}
.other:hover{
  color:orange;
}
.verb{
  font-family: "rock salt";
}
.verb:hover{
  color: lightblue;
}
.word{
padding: 30px;
font-size: 20px;

}
footer{
  font-family: "amatic Sc";
  font-size: 20px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
