/*
did you know?
Blast.js ex06
Emma Spellacy
*/

/* We have this here just to point out that EVERYTHING
we run through .blast() ends up with this class. */
.blast {
font-family: 'Arial', sans-serif;
font-weight: bold;
visibility: hidden;

}
.blastcontent{
  margin-left: 10%;
  margin-top: 10%;
}
body{
  background-color: pink;

}
#question{
  font-size: 100px;
  color: white;
}
#answer{
  font-size: 50px;
  margin-bottom: 10px;
}
